footer
    .main 
        p Problems to solve?
        h2 info@curious12.com
        a(href="mailto:#") Copy email address 
        .socials 
            div I 
            div F 
    .bottom 
        p © 2023 Curious12. All rights reserved.