
header
    .logo
        a(href="/")
            <svg width="65" height="27" viewBox="0 0 65 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M31.6577 26.6034V0.856491L20.1936 4.74483V4.76351C18.2669 3.87885 15.7842 3.37504 13.317 3.37504C5.44155 3.37504 0 8.55794 0 15.1947C0 21.8314 5.44155 26.951 13.317 26.951C15.7503 26.951 18.3867 26.4768 20.4827 25.4339V20.3143C18.4544 21.6099 16.0888 22.4318 13.5539 22.4318C8.51803 22.4318 5.37441 19.2081 5.37441 15.1314C5.37441 11.0547 8.61903 7.89432 13.3508 7.89432C15.8519 7.89432 18.4023 8.64251 20.1936 9.78037V9.7892L25.7006 7.93271V26.6034H31.6577Z"/>
                <path d="M33.2688 26.5333L33.3065 26.6034H52.6006V21.7344H44.1336L44.0959 21.6644L47.3555 17.6359C50.165 14.1331 51.6261 11.5056 51.6261 8.66846C51.6267 3.90428 47.4681 0.856491 42.1103 0.856491C39.0755 0.856491 36.7903 1.83714 35.2171 2.88835V8.10757C37.2404 6.63608 39.6004 5.83081 41.5488 5.83081C43.9466 5.83081 45.5947 7.02159 45.5947 9.15878C45.5947 11.0853 44.2462 12.9418 41.5488 16.305L33.2694 26.5339L33.2688 26.5333Z"/>
                <path d="M58.1067 23.8363C58.1067 25.588 59.6804 26.9889 61.5533 26.9889C63.4262 26.9889 64.9999 25.5875 64.9999 23.8363C64.9999 22.0852 63.4262 20.6837 61.5533 20.6837C59.6804 20.6837 58.1067 22.0852 58.1067 23.8363Z"/>
            </svg>

    .menu
        .nav
            ul
                li 
                    a(href="#") Our Work
                li 
                    a(href="#") The Studio
                li 
                    a(href="#") Contact
            
            .theme-switch theme switch