doctype html
html(lang="en")
    include partials/globals/head.pug
    body 
        main
            include partials/main-header.pug
            include partials/hero.pug
            include partials/about.pug
            include partials/projects.pug
            include partials/clients.pug

        include partials/footer.pug
        script(type="module", src="js/app.js") 